img, embed, object, video {
    max-width: 100%;
}
body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    
}
main {
    max-width: 70%;
    margin: 10px auto;
}
section {
    padding-top: 10px;
}
h1 {
    color: white;
    flex-grow: 3;
    font-size: 2.5em;
    letter-spacing: 2px;
    line-height: 50px;
    text-shadow: 2px 2px #006064;
}
h2 {
    padding-top: 5px;
}
header {
    text-align: center;
    display: block;
    font-size: 3em;
    margin: 20px;
}
#navbar ul {
    font-size: 1.2em;
    list-style-type: none;
    margin: 20px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    max-width: 90%;
}
#navbar li {
    border-color: #B2EBF2;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    display: flex;
    float: left;
    padding: 5px;
    width: 100%;
}
#navbar li a {
    color: black;
    display: block;
    padding: .8vw .8vw .8vw .8vw;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #B2EBF2;
    border: 1px solid #B2EBF2;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(222, 222, 222, 0.6);
    margin: -1px; 
}
.section-header {
    font-size: 2em;
    margin: 0px;
    text-align: left;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}
strong { 
    font-weight: bold; 
}
code {
    background-color: rgba(220, 220, 220, 0.3);
    display: block;
    color: black;
    font-family: monospace;
    font-size: 0.9em;
    margin: 10px 0px;
    padding: 10px;
    text-decoration: none;
}
.inline-code {
    display: inline;
    padding: 2px;
}
.note {
    background-color: rgba(60, 60, 220, 0.2);
    font-size: 1.1em;
}
.warning {
    background-color: rgba(220, 60, 60, 0.2);
    font-size: 1.1em;
}
dd {
    margin: 2px 0px 4px 0px;
    -webkit-margin-start: 10px;
}
footer {
    background-color: #00BCD4;
    height: 100px;
    margin: 0px -8px -8px -8px;
    text-align: right;
    vertical-align: bottom;
}
#footer-content {
    margin: 10px 20px 0px 0px;
    text-align: right;
}
#footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}
#footer-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#footer-nav-bar li {
    float: right;
    margin: 10px 12px 8px 10px;
}
#footer-nav-bar li a {
    color: black;
    display: block;
    padding: 8px;
    text-decoration: none;
}
#footer-text {
    margin-right: 20px;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 2vw;
    }
    h1 {
        flex-grow: 0;
        font-size: 5vw;
        line-height: 20px;
        margin: 10px 10px 10px 0px;
        text-align: center;
        width: 70%;
    }
    #nav-bar {
        max-width: 100%;
    }
    #nav-bar ul {
        text-align: center;
    }
    #nav-bar li {
        line-height: 8px;
        width: 80%;
    }
    #nav-bar li a {
        width: 50%;
    }
}
    .material-icons.md-48 {
        margin-right: 0;
    }